.firstpage{
  width: 90vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  background-color: black;
  color: white;
}

.imageandtext{
  display: flex;
  position: absolute;
  
  width: 100%;
  height: 100%;
}

.bar{
  background-color: #1de296;
  width: 110.05%;
  height: 3%;
  position: absolute;
  z-index: 2;
  animation: 5s bars infinite ;
}
.bar2{
  background-color: #1de296;
  width: 110.05%;
  height: 3%;
  top: 97%;
  position: absolute;
  animation: 5s bars infinite ;
  z-index: 2;
}

.bar3{
  background-color: #1de296;
  height: 98%;
  width: 2%;
  top: 2%;
  animation: 5s bars infinite ;
  position: absolute;
  z-index: 2;
}
.bar4{
  background-color: #1de296;
  height: 98%;
  width: 2%;
  animation: 5s bars infinite ;
  top: 2%;
  left: 108.03%;
  position: absolute;
  z-index: 5;
}
.text{
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
  width: 60%;
  height: 100%;
  justify-content: center;
  text-align: center;
  top: 40%;
  position: absolute;
  color: white;
}
.name {
  margin-top: 0%;
  font-size: 95px;
  overflow: hidden; /* Hide overflow to create the typing effect */
  white-space: nowrap; /* Ensure the text stays in one line */
  border-right: 3px solid #ff8fab; /* Create a blinking cursor effect */
  left: 20%;
  position: absolute;
  color: white;
  /* Animation for the typing effect */
  animation: typing 2s steps(50) , blink-caret 2s step-end forwards ;
}

/* Keyframes for the typing animation */
@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}

@keyframes typing1 {
  from {
    width: 0%;
    color: white;
  }
  to {
    color: white;
    width: 85%;
  }
}


/* Keyframes for the blinking cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: #ff8fab;
  }
  50% {
    border-color: #ff8fab;
  }
  100%{
    border-color: transparent;

  }
}

@keyframes blink-caret2 {

  0%{
    color: white;
    border-color: #ff8fab;
  }
 
  50% {
    border-color: #ff8fab;
    color: white;
  }
  100%{
    border-color: transparent ;
    color: white;
  }
}

.surname{
  margin-top: 15%;
  font-size: 95px;
  overflow: hidden; /* Hide overflow to create the typing effect */
  white-space: nowrap; /* Ensure the text stays in one line */
  border-right: 3px solid #ff8fab; /* Create a blinking cursor effect */
  left: 11%;
  color: white;
  position: absolute;
  /* Animation for the typing effect */
  animation: clear 2s, typing1 2s  2s steps(40) , blink-caret2 2.5s 3s step-end forwards ;
}

@keyframes clear {
  from{
    border-color: transparent;
    color: black;
  }
  to{
    border-color: transparent;
    color: black;
  }
}



.port{
  margin-top: -10%;
  font-size: 20px;
  left: 48%;
  position: absolute;
} 

.image{
  position: absolute;
  top: 3%;
  left: 70.05%;
  width: 40%;
  height: 100%;
  background-image: url("../public/myphoto.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;

 }

 
@keyframes bars{

    0%{
      background-color: #1de296;
    }
    50%{
      background-color: black;
    }
    100%{
      background-color: #1de296;
    }
}


.navbars{
  width: 750px;
  border-top: 2px solid white ;
  position: absolute;
  top: 35%;
  left: 9%;
  display: flex;
}

.links{
  margin-left: 5%;
  font-size: 15px;
}


@media screen and (max-width: 500px) {
  .port{
    position: absolute;
    font-size: 10px;
    left: 30%;
    top: 0%;
    z-index: 5;
  }
  .firstpage{
    height: 100vh;
  }
  .text {
    width: 90%;
    top: 10%;
    left: 0%; 
  }

  .name {
    font-size: 20px; /* Adjust font size */
    top: 2%;
    z-index: 5;
    left: 20%;
  }

  .surname {
    font-size: 20px; /* Adjust font size */
    top: 0%;
    z-index: 5;
    left: 15%;
  }

  .navbars {
    border-top: 2px solid white ;

    width: 55%; /* Adjust width */
    left: 10%; /* Adjust position */
    top: 10%; /* Adjust position */
    font-size: 10px;
  }

  .links {
    margin-left: 4%; /* Adjust margin */
    font-size: 5px; /* Adjust font size */
  }
  .fontsfirst{
    font-size: 10px;
  }
}