.internship{
    position: absolute;
    background-color: black;
    color: white;
    height: 140vh;
    width: 100%;
    top: 690%;
    left: 0%;
    z-index: 10;
    border-top: 20px solid #1de296;
}

.interntitle{
    font-family: "Slabo 27px", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
  position: absolute;
  left: 5%;
  top : 5%;
}
.first{
    font-family: "Slabo 27px", serif;
    font-weight: 400;
    width: 30vw;
    font-style: normal;
    font-size: 30px;
  position: absolute;
  left: 5%;
  top : 15%;

}

.second{
    font-family: "Slabo 27px", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
  position: absolute;
  width: 30vw;
  left: 68%;
  top: 60%;

}

.date{
    font-size: 20px;
    position: absolute;
  top: 50%; 
  width: 30vw;
  left: 100%;
  color: rgb(255, 255, 255);
}

.date2{
    position: absolute;
    font-size: 20px;
    top: 25%; 
    margin-left: -70%;
    width: 100%;
  color: rgb(255, 255, 255);
}

.info1{
  position: absolute;
  width: 140%;
  top: 200%;
  margin-left: -100%;
  text-align: start;
}

.info2{
  position: absolute;
  width: 140%;
  top: 200%;
  margin-left: -0%;
  text-align: start;
}

@media screen and (max-width: 768px) {
  .internship{
    position: absolute;
    top: 230%;
    z-index: 20;
  }
  .interntitle {
    font-size: 20px; /* Adjust font size */
    position: absolute;
    top: 1%;
    
  }

.first{
  font-size: 20px; /* Adjust font size */
  position: absolute;
  width: 90%;
  top: 5%;
  
}
.date{
  position: absolute;
  left: 0%;
  top: 100%;
  font-size: 10px;
  width: 100%;

}

.info1{
  position: absolute;
  left: 0%;
  font-size: 10px;
}


.date2{
  position: absolute;
  left: 70%;
  top: 100%;
  font-size: 10px;
  width: 100%;

}
.second{
  font-size: 20px; /* Adjust font size */
  position: absolute;
  width: 90%;
  left: 5%;
  top: 20%;
} 
.info2{
  position: absolute;
  left: 0%;
  font-size: 10px;
}
  

  .info1,
  .info2 {
    width: 100%; /* Adjust width */
    margin-left: 0; /* Reset margin */
    top: 250%; /* Adjust position */
  }
}