.ProjectPage{
  width: 100vw;
  height: 300%;
  position: absolute;
  background-color: black;
  top: 270%;
  color: white;
}

.title{
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  top: 0%;
  position: absolute;
  left: 5%;
}
.ml{
  display: flex;
  width: 90vw;
  height: 20%;
  position: absolute;
  top: 15%;
  left: 5%;
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}
.skill1{
  margin-left: 4%;
}

.borderml1{
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 570px;
  height: 170px;
  border: 2px solid white;
  position: absolute;
  display: flex;
}


.borderml2{
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 570px;
  height: 170px;
  border: 2px solid white;
  transform: translate(0px, 170px);
  display: flex;
}

.mltitle{
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  position: absolute;
  left: 5%;
  top : 10%;
}

.firstml{
  top: 0%;
  width: 40%;
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  position: absolute;
}
.sa{
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

.comma{
  top: 60%;
  left: 47%;
  width: 10%;
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  position: absolute;
}

.secondml{
  top: 10%;
  left: 60%;
  width: 40%;
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  position: absolute;
} 

.secondml2{
  top: 10%;
  left: 60%;
  width: 35vw;
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  position: absolute;
} 
.secondml1{
  top: 10%;
  left: 8%;
  width: 35vw;
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  position: absolute;
} 

.secondml3{
  position: absolute;
  top: 180%;
  left: 0%;
  margin-left: -10%;
  width: 35vw;
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  
} 

.secml{
  display: flex;
  width: 90%;
  height: 20%;
  position: absolute;
  top: 35%;
  left: 5%;
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

.comma2{
  top: 60%;
  left: 47%;
  width: 10%;
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  position: absolute;
}

.mrs{

  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  position: absolute;
  left: 0%;
  margin-top: -5%;
  top : 100%;
}

.mrsdesc{
  position: absolute;
  top : 250%;
  
  margin-top: 20%;
}

.secondmrs{
  top: 5%;
  left: 0%;
  width: 40%;
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  position: absolute;
} 

.cta {
  font-size: 30px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: absolute;
  top: 0%;
  margin-top: -1%;
  left: 50%;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.cta:focus,
.cta:hover {
  color: #fff;
}

.cta:focus:after,
.cta:hover:after {
  width: 100vw;
  left: 0%;
}

.cta:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.fstitle{
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  position: absolute;
  left: 5%;
  top : 65%;
}

.fs{
  display: flex;
  width: 100vw;
  height: 100vw;
  position: absolute;
  top: 75%;
  left: 0%;
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: white;
  background-color: black;
}




.firstfs{
  display: flex;
  width: 45%;
  height: 20%;
  position: absolute;
  top: 0%;
  left: 5%;
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.gez{
    font-family: "Slabo 27px", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin-top: -5%;
  }

  .gezdesc{
    width: 80%;
  height: 100vw;
  position: absolute;
  top: 20%;
  }

  .secondfs{
    
    background-repeat: no-repeat;
    background-size: contain;
      display: flex;
      width: 45%;
      height: 20%;
      position: absolute;
      top: 0%;
      left: 55%;
      font-family: "Slabo 27px", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 40px;
    }
.comma3{
  top: 13%;
  left: 47%;
  width: 10%;
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  position: absolute;
}

.divider{
  background-color: #1de296;
  width: 100vw;
  height: 1%;
position: absolute;
top: 60%;
}

.divider2{
  background-color: #1de296;
  width: 100vw;
  height: 1%;
position: absolute;
z-index: 5;
top: 117%;
left: 0%;
}

.fs2{
  display: flex;
  
  height: 20%;
  position: absolute;
  top: 65%;
  left: 55%;
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.portfolio{
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  position: absolute;
  top: 150%;
}

.iottitle{
  position: absolute;
  top: 120%;
  
  z-index: 10;
  color: white;
  left: 5%;
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
 }
 .iotfirst{
  position: absolute;
  top: 119%;
  left: 5%;
  width: 40%;
  color: white;
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
 }

 .botdesc{
  position: absolute;
 }
.bot{
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  margin-top: 20%;
}
 .portdesc{

    position: absolute;
    width: 500px;
    top: 180%;
 }
 

 @media screen and (max-width: 768px) {
  .ProjectPage{
    position: absolute;
    top: 40%;
    width: 99%;
    z-index: 10;
    font-size: 20px;
  }
  .title {
    font-size: 20px;
   
  }

  .mltitle{
    font-size: 20px;
    top: 2%;
    position: absolute;
  }
.firstml{
  width: 90%;
  font-size: 10px;
  top: 5%;
  left: 5%;
  position: absolute;
}
 .ml{
  font-size: 10px;
  top: 3%;
  left: 5%;
  position: absolute;
 }

 .gameml{
  scale: 0.7;
  
  position: absolute;
  left: 0%;
  top: 0%;
  margin-left: -17%;
  
 }
.secondml{
  font-size: 10px;
  left: 5%;
  top: 10%;
  width: 100vw;
  position: absolute;
}
 .comma
.comma2{
  opacity: 0;;
 }
.sa{
  font-size: 20px;

  margin-top: -10%;
  position: absolute;
}
 
.ml, .secml{
  display: contents;
}
.secml{
  width: 90%;
  font-size: 10px;
  top: 100vw;
  position: absolute;
  left: 0%;
}

.secondml2{
  top: 20%;
  left: 5%;
  width: 90%;
  font-size: 10px;
}
.mrsdesc{
  position: absolute;
  margin-top: 5%;
}
.mrs{

  width: 100vw;
  font-size: 20px;
}

.secondmrs{
  top: 27%;
  left: 5%;
  width: 90%;
  font-size: 10px;
}
.cta{
  font-size: 10px;
  position: absolute;
  top: 10%;
  left: 35%;
}

.divider{
  position: absolute;
  top: 28%;
  background-color: #1de296;
  height: 10px;
}

.fstitle{
  font-size: 20px;
  top: 29%;
  position: absolute;
}
.fs{
  display: block;
  opacity: 1;
  font-size: 10px;
  top: 32%;
  width: 100vw;
  position: absolute;
  
}
.gez{
  width: 100vw;
  font-size: 20px;
}
.gezdesc{
  top: 5%;
  font-size: 10px;
  width: 200%;
}

.fs2{
  display: block;
  opacity: 1;
  font-size: 10px;
  left: 5%;
  top: 10%;
  width: 100vw;
  position: absolute;
  
}
.portfolio{
  width: 100vw;
  font-size: 20px;
}
.portdesc{
  top: 160%;
  font-size: 10px;
  width: 90%;
}

.divider2{
  background-color: #1de296;
  position: absolute;
  top: 47%;
  z-index: 15;
  height: 10px;
}

.iot{
  display: block;
  position: absolute;
  top: 48%;
  width: 99%;
}

.iottitle{
  font-size: 20px;
  top: 1%;
  position: absolute;
  
}
.iotfirst{
  width: 100vw;
  top: 10%;
  
 }
.bot{
  font-size: 20px;
  top: 1%;
  width: 100vw;
  position: absolute;
  margin-top: 15% ;
}
.botdesc{
  font-size: 10px;
  margin-top: 30% ;
  position: absolute;
  top: 100vw;
  width: 90%;
}

}